@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
    --verde: #6d00fc;
    --cinza-dark: #000000;
    --cinza-light: #0f0f0f;
    --branco: #ffffff;
}

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--cinza-dark);
    color: var(--branco);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pesquisa-button img {
    width: 18px;
    height: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.header {
    background-color: var (--cinza-light);
    border-bottom: 2px solid var(--verde);
}

.header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    width: 120px;
    height: 60px;
} 
.menu{
    display:flex;
    gap: 1rem;
}
.menu a{
    text-decoration:none;
    color:var(--branco);
    transition: 0.3s;
}
.menu a:hover{
    color: var(--verde);
}
.pesquisa-section{
    margin: 1rem 0;
}
.pesquisa-conteudo {
    display: flex;
    justify-content: center;
    gap:1rem;
}
.pesquisa-conteudo input {
    width: 60%;
    padding: 0.7rem;
    border-radius: 20px;
    border:none;
    outline:none;
    font-size: 1rem;
}
.pesquisa-button {
    background-color: var(--verde);
    border:none;
    width:45px;
    border-radius: 50%;
    cursor:pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    transition:0.3s;
}
.pesquisa-button:hover {
    transform:scale(1.1);
}
.footer{
    margin-top: auto;
    background-color: var(--cinza-light);
    text-align: center;
    padding:1rem;
    border-top:2px solid var (--verde);
    font-size: 0.8rem;
}
#filmesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.card img {
    width: 180px;
    height: 180px;
}
.card {
    background: var(--cinza-light);
    width: 120px;
    height: 180px;
    border-radius: 12px;
    overflow:hidden;
    cursor:pointer;
    display: flex;
}
.card hover {

}
